.home-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width:1440px;
    padding:40px;
    width:100%;
    box-sizing: border-box;
    margin:0 auto;
}
.heading{
    font-size:28px;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 1;
    margin:0 0 5px;
}
.sub-heading{
    color: #1D2226;
    opacity: 0.6;
    letter-spacing: 0px;
    font-size:18px;
    line-height: 26px;
    margin:0 0 20px;
}
.home-wrap .btn-wrap{
    display: flex;
    flex-direction: column;
    row-gap:10px;
}
.home-wrap .btn-wrap button{width: 335px !important;}
.home-wrap .btn-wrap button,
.login,.create-btn{
    max-width: 335px;
    width: 100%;
    height: 46px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size:16px;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-btn{
    background: #6C25FF 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}
.login-btn{
    background: #6C25FF4B 0% 0% no-repeat padding-box;
    opacity: 1;
}

.login-wrap,
.sign-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:40px 20px;
    max-width:600px;
    margin:0 auto;
    height: 100vh;
    overflow: hidden;
}

.form-wrap{
    width: 100%;
    padding:0 40px;
}
.form-wrap .input-text{
    font-size:16px;
}
.btn{
    padding:14px 0 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .login{
    background: #CBCBCB 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
}
.label{
    letter-spacing: 0px;
    color: #1D2226;
    font-size:16px;
    margin:0 0 10px;
}
.lable-text{
    margin:0 10px;
}
input[type="radio"]{
    border: 1px solid #919191;
    opacity: 1;
    accent-color: #6C25FF;
}
/* account style */
.account-wrap{ 
    border-bottom:1px dashed #CBCBCB;
    opacity: 1;}
.account-wrap .acc-heading{
    letter-spacing: 0px;
    color: #1D2226;
    text-transform: capitalize;
    opacity: 1;
    text-align: left;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 30px 20px 20px;
    text-align: center;
}
.account-wrap .text{
    letter-spacing: 0px;
    color: #1D2226;
    text-align: left;
    margin:30px 0 0;
    text-transform: capitalize;
    font-size:16px;
}
.info-wrap{
    max-width:600px;
    margin:0 auto;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding:30px 20px;
}

.profile-wrap{
    display: flex;
    gap:15px;
}
.profile-wrap .img{
    position: relative;
}
.profile-wrap .camera{
    position: absolute;
    right: 0;
    bottom:5px;
}
.user .name{
    color: #1D2226;
    text-transform: capitalize;
    font-weight:600;
    margin:0 0 4px;
    font-size:16px;
}
@media(max-width:576px){
    .home-wrap{justify-content: flex-end;align-items: flex-start;padding: 20px;}
    .login-wrap,.sign-wrap{justify-content:flex-start;align-items: flex-start;}
    .form-wrap{padding:0px;}
    .account-wrap .acc-heading{text-align: left;}
    .account-wrap .text{font-size:14px;}
}